[submodule "resources/flinkx"]
	path = resources/flinkx
	url = https://github.com/DTStack/flinkx.git
[submodule "resources/moonbox"]
	path = resources/moonbox
	url = https://github.com/edp963/moonbox.git
[submodule "resources/wormhole"]
	path = resources/wormhole
	url = https://github.com/edp963/wormhole.git
[submodule "resources/kylo"]
	path = resources/kylo
	url = https://github.com/Teradata/kylo.git
[submodule "resources/davinci"]
	path = resources/davinci
	url = https://github.com/edp963/davinci.git
[submodule "resources/dbus"]
	path = resources/dbus
	url = https://github.com/BriData/DBus.git
[submodule "resources/nifi"]
	path = resources/nifi
	url = https://github.com/apache/nifi.git
[submodule "resources/incubator-superset"]
	path = resources/incubator-superset
	url = https://github.com/apache/incubator-superset.git
[submodule "resources/redash"]
	path = resources/redash
	url = https://github.com/getredash/redash.git
[submodule "resources/metabase"]
	path = resources/metabase
	url = https://github.com/metabase/metabase.git
[submodule "resources/ranger"]
	path = resources/ranger
	url = https://github.com/apache/ranger.git
[submodule "resources/atlas"]
	path = resources/atlas
	url = https://github.com/apache/atlas.git
[submodule "resources/datacollector"]
	path = resources/datacollector
	url = https://github.com/streamsets/datacollector.git
[submodule "resources/delta"]
	path = resources/delta
	url = https://github.com/delta-io/delta.git
[submodule "resources/stream-reactor"]
	path = resources/stream-reactor
	url = https://github.com/lensesio/stream-reactor.git
